language: java
dist: trusty
jdk:
  - oraclejdk8
  - openjdk8
  - openjdk11

matrix:
  allow_failures:
    - jdk: openjdk11
  fast_finish: true

script:
  - "./gradlew --stacktrace build"
  - "./gradlew --stacktrace docs"
  - "./gradlew codeCoverageReport"

after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  irc: irc.freenode.org#islandora

deploy:
  skip_cleanup: true
  provider: script
  script:
    - "./gradlew uploadArchives -PossrhUsername='${SONATYPE_USERNAME}' -PossrhPassword='${SONATYPE_PASSWORD}'"
  on:
    branch: main

# Variables SONATYPE_USERNAME and SONATYPE_PASSWORD are defined on the Travis build.
