# In the event of failure, the maximum number of times a redelivery will be attempted.
error.maxRedeliveries=10

# The camel URI for the incoming message stream.
in.stream=activemq:queue:islandora-connector-houdini

houdini.convert.url = http://localhost:8000/houdini/convert
