<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p %d{HH:mm:ss.SSS} [%thread] \(%c{0}\) %m%n</pattern>
        </encoder>
    </appender>

    <logger name="ca.islandora.alpaca" additivity="false" level="${islandora.alpaca.log:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.apache.camel" additivity="false" level="${islandora.alpaca.log.camel:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.apache.activemq" additivity="false" level="${islandora.alpaca.log.activemq:-INFO}">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>